// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.navbar {
	padding: 15px;
	font-size: 20px;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 3;

	.top-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 2;
		background-color: white;

		// shopping cart
		.cart {
			font-size: 26px;
			transition: opacity 0.3s;
			cursor: pointer;
			order: 2;
			position: fixed;
			background-color: $gold;
			height: 45px;
			width: 45px;
			bottom: 15px;
			right: 15px;
			color: white;
			border-radius: 50%;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;

			&.no-items {
				opacity: 0.85;
			}

			&:hover {
				color: $gold;
				opacity: 1;
			}
		}

		// logo
		.logo {
			order: 1;

		}

		// user profile
		.user {
			font-size: 14px;
			display: none;
			order: 3;

			.image {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				border-radius: 50%;
				height: 30px;
				width: 30px;
				margin-right: 10px;
			}

			p {
				margin: 0;
			}
		}

		// menu-toggle
		.menu-toggle {
			order: 3;
			font-size: 30px;
			margin-top: -3px;
		}
	}

	// menu
	.menu {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: white;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s;
		padding-top: 90px;

		&.active {
			pointer-events: auto;
			opacity: 1;
		}

		ul {
			list-style-type: none;
			padding-left: 15px;

			li {
				padding-bottom: 20px;

				a {
					text-decoration: none;
					color: inherit;

					&.active, &:hover {
						border-bottom: 1px solid;
					}
				}
			}
		}
	}

	// 768px and up
	@include min-width-up(w768) {
		text-align: center;
		font-size: 16px;

		.top-bar {
			.cart {
				order: 1;
				position: relative;
				height: auto;
				width: auto;
				color: initial;
				background-color: transparent;
			    bottom: auto;
			    right: auto;

			}

			.logo {
				order: 2;
			}

			.user {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.menu-toggle {
				display: none;
			}
		}

		.menu {
			display: block;
		    position: initial;
		    opacity: 1;
		    padding-top: 5px;
		    pointer-events: auto;

			ul {
				padding: 0 60px;
				display: flex;
				justify-content: space-between;
				max-width: 800px;
				margin: 0 auto;

				li {
					padding: 0;
				}
			}
		}
	}
}