.social-panel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%; }
  .social-panel .sticky {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100vh;
    padding-right: 15px;
    display: none;
    align-self: flex-start; }
    @media (min-width: 768px) {
      .social-panel .sticky {
        display: flex;
        flex-direction: column;
        justify-content: center; } }
    @media (min-width: 1024px) {
      .social-panel .sticky {
        padding-right: 30px; } }
    .social-panel .sticky .social {
      color: white;
      height: 30px;
      width: 30px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: transform 1s ease-out;
      transform-origin: center;
      cursor: pointer; }
      .social-panel .sticky .social:hover {
        transform: rotate(360deg); }
      .social-panel .sticky .social:after {
        border-radius: 50%;
        content: '';
        display: block;
        background-color: #9d6327;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      .social-panel .sticky .social .fab {
        position: relative;
        z-index: 1; }
