.homepage .main {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-y: hidden;
  overflow: visible; }
  @media (min-width: 768px) {
    .homepage .main .promo-carousel {
      position: sticky;
      top: 125px;
      align-self: flex-start; } }
  .homepage .main .promo-container {
    padding: 30px 0; }
    .homepage .main .promo-container > h3 {
      margin-bottom: 45px; }
      @media (min-width: 768px) {
        .homepage .main .promo-container > h3 {
          margin-left: 30px; } }
      @media (min-width: 1024px) {
        .homepage .main .promo-container > h3 {
          margin-left: 0px; } }
  .homepage .main .triangle-shape {
    position: absolute;
    right: 0;
    margin-top: -360px;
    z-index: -1; }
    @media (min-width: 768px) {
      .homepage .main .triangle-shape {
        z-index: 1; } }
