// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.title-subtitle {
	padding: 15px;

	// 768px and up
	@include min-width-up(w768) {
		padding-top: 30px;
		padding-left: 30px;
	}
}