// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.filter {
	padding: 30px 15px 0;
	font-size: 12px;

	.sort-by {
		margin-right: 30px;
		margin-bottom: 5px;
	}

	span {
		color: $grey;
	}

	// 768px and up
	@include min-width-up(w768) {
		display: flex;
	}
}