.filter {
  padding: 30px 15px 0;
  font-size: 12px; }
  .filter .sort-by {
    margin-right: 30px;
    margin-bottom: 5px; }
  .filter span {
    color: #a38d96; }
  @media (min-width: 768px) {
    .filter {
      display: flex; } }
