// fonts
@import url('https://fonts.googleapis.com/css?family=Codystar|Open+Sans:400,700|Yellowtail');

// variables
@import 'vars';

//grid
@import 'grid/grid';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  color: #231f20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// typography
h1 {
	font-size: 56px;
	line-height: 60px;
	margin: 0;
	font-family: 'Yellowtail', cursive, serif;
	font-weight: 400;

	// 768px and up
	@include min-width-up(w768) {		
		font-size: 68px;
		line-height: 72px;
	}
}

h2, .h2 {
	font-size: 18px;
	line-height: 22px;
}

h2 {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	letter-spacing: 1.5px;


	// 102px and up
	@include min-width-up(w1024) {		
		font-family: 'Codystar', 'Arial', sans-serif;
	}
}

h3 {
	font-size: 28px;
	line-height: 32px;
	font-family: 'Codystar', 'Arial', sans-serif;
	font-weight: 400;
	letter-spacing: 16px;
}

h2, .h2, h3, h4, p {
	margin: 0 0 5px 0;
}