@import url("https://fonts.googleapis.com/css?family=Codystar|Open+Sans:400,700|Yellowtail");
* {
  box-sizing: border-box; }

.col-0 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-0 {
      flex: 0 0 0%;
      max-width: 0%; } }

@media (min-width: 768px) {
  .offset-0 {
    margin-left: 0; } }

.col-1 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-1 {
      flex: 0 0 6.25%;
      max-width: 6.25%; } }

@media (min-width: 768px) {
  .offset-1 {
    margin-left: 6.25%; } }

.col-2 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-2 {
      flex: 0 0 12.5%;
      max-width: 12.5%; } }

@media (min-width: 768px) {
  .offset-2 {
    margin-left: 12.5%; } }

.col-3 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-3 {
      flex: 0 0 18.75%;
      max-width: 18.75%; } }

@media (min-width: 768px) {
  .offset-3 {
    margin-left: 18.75%; } }

.col-4 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-4 {
      flex: 0 0 25%;
      max-width: 25%; } }

@media (min-width: 768px) {
  .offset-4 {
    margin-left: 25%; } }

.col-5 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-5 {
      flex: 0 0 31.25%;
      max-width: 31.25%; } }

@media (min-width: 768px) {
  .offset-5 {
    margin-left: 31.25%; } }

.col-6 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-6 {
      flex: 0 0 37.5%;
      max-width: 37.5%; } }

@media (min-width: 768px) {
  .offset-6 {
    margin-left: 37.5%; } }

.col-7 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-7 {
      flex: 0 0 43.75%;
      max-width: 43.75%; } }

@media (min-width: 768px) {
  .offset-7 {
    margin-left: 43.75%; } }

.col-8 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-8 {
      flex: 0 0 50%;
      max-width: 50%; } }

@media (min-width: 768px) {
  .offset-8 {
    margin-left: 50%; } }

.col-9 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-9 {
      flex: 0 0 56.25%;
      max-width: 56.25%; } }

@media (min-width: 768px) {
  .offset-9 {
    margin-left: 56.25%; } }

.col-10 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-10 {
      flex: 0 0 62.5%;
      max-width: 62.5%; } }

@media (min-width: 768px) {
  .offset-10 {
    margin-left: 62.5%; } }

.col-11 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-11 {
      flex: 0 0 68.75%;
      max-width: 68.75%; } }

@media (min-width: 768px) {
  .offset-11 {
    margin-left: 68.75%; } }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-12 {
      flex: 0 0 75%;
      max-width: 75%; } }

@media (min-width: 768px) {
  .offset-12 {
    margin-left: 75%; } }

.col-13 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-13 {
      flex: 0 0 81.25%;
      max-width: 81.25%; } }

@media (min-width: 768px) {
  .offset-13 {
    margin-left: 81.25%; } }

.col-14 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-14 {
      flex: 0 0 87.5%;
      max-width: 87.5%; } }

@media (min-width: 768px) {
  .offset-14 {
    margin-left: 87.5%; } }

.col-15 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-15 {
      flex: 0 0 93.75%;
      max-width: 93.75%; } }

@media (min-width: 768px) {
  .offset-15 {
    margin-left: 93.75%; } }

.col-16 {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    .col-16 {
      flex: 0 0 100%;
      max-width: 100%; } }

@media (min-width: 768px) {
  .offset-16 {
    margin-left: 100%; } }

.col-0-xs {
  flex: 0 0 0%;
  max-width: 0%; }

.offset-0-xs {
  margin-left: 0; }

.col-1-xs {
  flex: 0 0 6.25%;
  max-width: 6.25%; }

.offset-1-xs {
  margin-left: 6.25%; }

.col-2-xs {
  flex: 0 0 12.5%;
  max-width: 12.5%; }

.offset-2-xs {
  margin-left: 12.5%; }

.col-3-xs {
  flex: 0 0 18.75%;
  max-width: 18.75%; }

.offset-3-xs {
  margin-left: 18.75%; }

.col-4-xs {
  flex: 0 0 25%;
  max-width: 25%; }

.offset-4-xs {
  margin-left: 25%; }

.col-5-xs {
  flex: 0 0 31.25%;
  max-width: 31.25%; }

.offset-5-xs {
  margin-left: 31.25%; }

.col-6-xs {
  flex: 0 0 37.5%;
  max-width: 37.5%; }

.offset-6-xs {
  margin-left: 37.5%; }

.col-7-xs {
  flex: 0 0 43.75%;
  max-width: 43.75%; }

.offset-7-xs {
  margin-left: 43.75%; }

.col-8-xs {
  flex: 0 0 50%;
  max-width: 50%; }

.offset-8-xs {
  margin-left: 50%; }

.col-9-xs {
  flex: 0 0 56.25%;
  max-width: 56.25%; }

.offset-9-xs {
  margin-left: 56.25%; }

.col-10-xs {
  flex: 0 0 62.5%;
  max-width: 62.5%; }

.offset-10-xs {
  margin-left: 62.5%; }

.col-11-xs {
  flex: 0 0 68.75%;
  max-width: 68.75%; }

.offset-11-xs {
  margin-left: 68.75%; }

.col-12-xs {
  flex: 0 0 75%;
  max-width: 75%; }

.offset-12-xs {
  margin-left: 75%; }

.col-13-xs {
  flex: 0 0 81.25%;
  max-width: 81.25%; }

.offset-13-xs {
  margin-left: 81.25%; }

.col-14-xs {
  flex: 0 0 87.5%;
  max-width: 87.5%; }

.offset-14-xs {
  margin-left: 87.5%; }

.col-15-xs {
  flex: 0 0 93.75%;
  max-width: 93.75%; }

.offset-15-xs {
  margin-left: 93.75%; }

.col-16-xs {
  flex: 0 0 100%;
  max-width: 100%; }

.offset-16-xs {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-0-w768 {
    flex: 0 0 0%;
    max-width: 0%; } }

@media (min-width: 768px) {
  .offset-0-w768 {
    margin-left: 0; } }

@media (min-width: 768px) {
  .col-1-w768 {
    flex: 0 0 6.25%;
    max-width: 6.25%; } }

@media (min-width: 768px) {
  .offset-1-w768 {
    margin-left: 6.25%; } }

@media (min-width: 768px) {
  .col-2-w768 {
    flex: 0 0 12.5%;
    max-width: 12.5%; } }

@media (min-width: 768px) {
  .offset-2-w768 {
    margin-left: 12.5%; } }

@media (min-width: 768px) {
  .col-3-w768 {
    flex: 0 0 18.75%;
    max-width: 18.75%; } }

@media (min-width: 768px) {
  .offset-3-w768 {
    margin-left: 18.75%; } }

@media (min-width: 768px) {
  .col-4-w768 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media (min-width: 768px) {
  .offset-4-w768 {
    margin-left: 25%; } }

@media (min-width: 768px) {
  .col-5-w768 {
    flex: 0 0 31.25%;
    max-width: 31.25%; } }

@media (min-width: 768px) {
  .offset-5-w768 {
    margin-left: 31.25%; } }

@media (min-width: 768px) {
  .col-6-w768 {
    flex: 0 0 37.5%;
    max-width: 37.5%; } }

@media (min-width: 768px) {
  .offset-6-w768 {
    margin-left: 37.5%; } }

@media (min-width: 768px) {
  .col-7-w768 {
    flex: 0 0 43.75%;
    max-width: 43.75%; } }

@media (min-width: 768px) {
  .offset-7-w768 {
    margin-left: 43.75%; } }

@media (min-width: 768px) {
  .col-8-w768 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 768px) {
  .offset-8-w768 {
    margin-left: 50%; } }

@media (min-width: 768px) {
  .col-9-w768 {
    flex: 0 0 56.25%;
    max-width: 56.25%; } }

@media (min-width: 768px) {
  .offset-9-w768 {
    margin-left: 56.25%; } }

@media (min-width: 768px) {
  .col-10-w768 {
    flex: 0 0 62.5%;
    max-width: 62.5%; } }

@media (min-width: 768px) {
  .offset-10-w768 {
    margin-left: 62.5%; } }

@media (min-width: 768px) {
  .col-11-w768 {
    flex: 0 0 68.75%;
    max-width: 68.75%; } }

@media (min-width: 768px) {
  .offset-11-w768 {
    margin-left: 68.75%; } }

@media (min-width: 768px) {
  .col-12-w768 {
    flex: 0 0 75%;
    max-width: 75%; } }

@media (min-width: 768px) {
  .offset-12-w768 {
    margin-left: 75%; } }

@media (min-width: 768px) {
  .col-13-w768 {
    flex: 0 0 81.25%;
    max-width: 81.25%; } }

@media (min-width: 768px) {
  .offset-13-w768 {
    margin-left: 81.25%; } }

@media (min-width: 768px) {
  .col-14-w768 {
    flex: 0 0 87.5%;
    max-width: 87.5%; } }

@media (min-width: 768px) {
  .offset-14-w768 {
    margin-left: 87.5%; } }

@media (min-width: 768px) {
  .col-15-w768 {
    flex: 0 0 93.75%;
    max-width: 93.75%; } }

@media (min-width: 768px) {
  .offset-15-w768 {
    margin-left: 93.75%; } }

@media (min-width: 768px) {
  .col-16-w768 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 768px) {
  .offset-16-w768 {
    margin-left: 100%; } }

@media (min-width: 1024px) {
  .col-0-w1024 {
    flex: 0 0 0%;
    max-width: 0%; } }

@media (min-width: 1024px) {
  .offset-0-w1024 {
    margin-left: 0; } }

@media (min-width: 1024px) {
  .col-1-w1024 {
    flex: 0 0 6.25%;
    max-width: 6.25%; } }

@media (min-width: 1024px) {
  .offset-1-w1024 {
    margin-left: 6.25%; } }

@media (min-width: 1024px) {
  .col-2-w1024 {
    flex: 0 0 12.5%;
    max-width: 12.5%; } }

@media (min-width: 1024px) {
  .offset-2-w1024 {
    margin-left: 12.5%; } }

@media (min-width: 1024px) {
  .col-3-w1024 {
    flex: 0 0 18.75%;
    max-width: 18.75%; } }

@media (min-width: 1024px) {
  .offset-3-w1024 {
    margin-left: 18.75%; } }

@media (min-width: 1024px) {
  .col-4-w1024 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media (min-width: 1024px) {
  .offset-4-w1024 {
    margin-left: 25%; } }

@media (min-width: 1024px) {
  .col-5-w1024 {
    flex: 0 0 31.25%;
    max-width: 31.25%; } }

@media (min-width: 1024px) {
  .offset-5-w1024 {
    margin-left: 31.25%; } }

@media (min-width: 1024px) {
  .col-6-w1024 {
    flex: 0 0 37.5%;
    max-width: 37.5%; } }

@media (min-width: 1024px) {
  .offset-6-w1024 {
    margin-left: 37.5%; } }

@media (min-width: 1024px) {
  .col-7-w1024 {
    flex: 0 0 43.75%;
    max-width: 43.75%; } }

@media (min-width: 1024px) {
  .offset-7-w1024 {
    margin-left: 43.75%; } }

@media (min-width: 1024px) {
  .col-8-w1024 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 1024px) {
  .offset-8-w1024 {
    margin-left: 50%; } }

@media (min-width: 1024px) {
  .col-9-w1024 {
    flex: 0 0 56.25%;
    max-width: 56.25%; } }

@media (min-width: 1024px) {
  .offset-9-w1024 {
    margin-left: 56.25%; } }

@media (min-width: 1024px) {
  .col-10-w1024 {
    flex: 0 0 62.5%;
    max-width: 62.5%; } }

@media (min-width: 1024px) {
  .offset-10-w1024 {
    margin-left: 62.5%; } }

@media (min-width: 1024px) {
  .col-11-w1024 {
    flex: 0 0 68.75%;
    max-width: 68.75%; } }

@media (min-width: 1024px) {
  .offset-11-w1024 {
    margin-left: 68.75%; } }

@media (min-width: 1024px) {
  .col-12-w1024 {
    flex: 0 0 75%;
    max-width: 75%; } }

@media (min-width: 1024px) {
  .offset-12-w1024 {
    margin-left: 75%; } }

@media (min-width: 1024px) {
  .col-13-w1024 {
    flex: 0 0 81.25%;
    max-width: 81.25%; } }

@media (min-width: 1024px) {
  .offset-13-w1024 {
    margin-left: 81.25%; } }

@media (min-width: 1024px) {
  .col-14-w1024 {
    flex: 0 0 87.5%;
    max-width: 87.5%; } }

@media (min-width: 1024px) {
  .offset-14-w1024 {
    margin-left: 87.5%; } }

@media (min-width: 1024px) {
  .col-15-w1024 {
    flex: 0 0 93.75%;
    max-width: 93.75%; } }

@media (min-width: 1024px) {
  .offset-15-w1024 {
    margin-left: 93.75%; } }

@media (min-width: 1024px) {
  .col-16-w1024 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 1024px) {
  .offset-16-w1024 {
    margin-left: 100%; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  color: #231f20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 56px;
  line-height: 60px;
  margin: 0;
  font-family: 'Yellowtail', cursive, serif;
  font-weight: 400; }
  @media (min-width: 768px) {
    h1 {
      font-size: 68px;
      line-height: 72px; } }

h2, .h2 {
  font-size: 18px;
  line-height: 22px; }

h2 {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px; }
  @media (min-width: 1024px) {
    h2 {
      font-family: 'Codystar', 'Arial', sans-serif; } }

h3 {
  font-size: 28px;
  line-height: 32px;
  font-family: 'Codystar', 'Arial', sans-serif;
  font-weight: 400;
  letter-spacing: 16px; }

h2, .h2, h3, h4, p {
  margin: 0 0 5px 0; }
