// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.carousel {

	// fixed promo slider
	&.promo-carousel {
		h1, h2 {
			color: white!important;			
		}

		.carousel__slider {
			.slide-inner {
				&:after {
					background: linear-gradient(200deg, rgba(157, 99, 39, 0) 25%, rgba(157, 99, 39, 1) 100%);

					// 768px and up
					@include min-width-up(w768) {
						background: linear-gradient(-45deg, rgba(157, 99, 39, 0) 0%, rgba(157, 99, 39, 1) 90%);
					}
				}
			}
		}
	}

	// main slider styles
	.carousel__slider {
		height: calc(100vh - 99px);
		overflow: hidden;

		// 768px and up
		@include min-width-up(w768) {
			height: calc(100vh - 125px);
		}

		.slide-inner {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 100%;
			display: flex;
			align-items: flex-end;
			height: calc(100vh - 99px);
			cursor: pointer;

			// 768px and up
			@include min-width-up(w768) {
				height: calc(100vh - 125px);

				&.align-top-w768 {
					align-items: start;
				}
			}

			img {
				display: none;
			}

			.title-subtitle {
				position: relative;;
				z-index: 1;
				color: black;

				h1 {
					color: $gold;
				}
			}

			// overlay for mobile
			&:after {
				content: '';
				display: block;
				background: linear-gradient(200deg, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 100%);
				height: 100%;
				width: 100%;
				position: absolute;
				transition: opacity 0.7s;

				// 768px and up
				@include min-width-up(w768) {
					opacity: 0;
					background: linear-gradient(-88deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
				}
			}

			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
}
