.promo-block {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  height: 300px;
  margin-bottom: 60px;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer; }
  .promo-block:hover .overlay {
    opacity: 1; }
  .promo-block p {
    margin: 0; }
  .promo-block .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(157, 99, 39, 0.8);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-out; }
