// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.product {
	width: 100%;
	padding: 0 15px;
	margin-bottom: 30px;
	cursor: pointer;

	// hover effect
	&:hover {
		.image-container {
			.triangle {
				line {
					animation: dash 1.5s ease-in forwards;
				}
			}
		}
	}

	// 768px and up
	@include min-width-up(w768) {
		width: 33.3333%;
	}

	.image-container {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
		}

		// Triangle
		.triangle {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			pointer-events: none;

			// animation for lines for hover effect
			line {
				stroke-dasharray: 1000;
				stroke-dashoffset: 1000;
				opacity: 0;
		 	}

		 	@for $i from 2 through 7 {
				// make columns
				line:nth-child(#{$i}) {
					animation-delay: $i * 0.1s;
				}
			}

		 	@keyframes dash {
			  45% {
			    opacity: 1;
			  }

			  100% {
			  	opacity: 0.75;
			  	stroke-dashoffset: 0;
			  }
			}
		}
	}
}