.product {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
  cursor: pointer; }
  .product:hover .image-container .triangle line {
    animation: dash 1.5s ease-in forwards; }
  @media (min-width: 768px) {
    .product {
      width: 33.3333%; } }
  .product .image-container {
    position: relative;
    overflow: hidden; }
    .product .image-container img {
      width: 100%; }
    .product .image-container .triangle {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      pointer-events: none; }
      .product .image-container .triangle line {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        opacity: 0; }
      .product .image-container .triangle line:nth-child(2) {
        animation-delay: 0.2s; }
      .product .image-container .triangle line:nth-child(3) {
        animation-delay: 0.3s; }
      .product .image-container .triangle line:nth-child(4) {
        animation-delay: 0.4s; }
      .product .image-container .triangle line:nth-child(5) {
        animation-delay: 0.5s; }
      .product .image-container .triangle line:nth-child(6) {
        animation-delay: 0.6s; }
      .product .image-container .triangle line:nth-child(7) {
        animation-delay: 0.7s; }

@keyframes dash {
  45% {
    opacity: 1; }
  100% {
    opacity: 0.75;
    stroke-dashoffset: 0; } }
