// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.benefits {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-content: center;

	.benefit {
		text-align: center;
		color: $gold;
		padding: 0 30px;
		width: 50%;
		margin-bottom: 30px;

		.fa {
			font-size: 46px;
			margin-bottom: 10px;
		}
	}

		// 768px and up
		@include min-width-up(w768) {
			.benefit {
				width: 33.33333%;

				.fa {
					font-size: 36px;
				}
			}
		}
}