.benefits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center; }
  .benefits .benefit {
    text-align: center;
    color: #9d6327;
    padding: 0 30px;
    width: 50%;
    margin-bottom: 30px; }
    .benefits .benefit .fa {
      font-size: 46px;
      margin-bottom: 10px; }
  @media (min-width: 768px) {
    .benefits .benefit {
      width: 33.33333%; }
      .benefits .benefit .fa {
        font-size: 36px; } }
